<template name="navbar">
	<nav class="navbarr">
	  
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    

	      <ul class="navbar-list">
	      	<li><a href=""><i class="fa fa-clock-o" aria-hidden="true"></i></a></li>
	      	<li><a href="{{pathFor 'home'}}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
	      	<li><a href=""><i class="fa fa-users" aria-hidden="true"></i></a></li>
	        <li><a href=""><i class="fa fa-cog" aria-hidden="true"></i></a></li>
	      </ul>
	    
	</nav>

</template>

